/* CSS GERAL */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

main {
    background: #282a2d;
    color: #fff;
}

#intro {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}

span {
  font-size: 1rem;
  font-weight: 400;
}

#typed {
  font-size: 2rem;
}

h2 {
  padding-bottom: 
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #000;
  font-family: 'Raleway';font-size: 22px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #6510f0 ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* INTRO */

.logo img{
  max-width: 50%;;
}

section {
    padding: 5vh;
}

.intro-about-me::after {
    content: '';
    margin-top: 1vh;
    height: 3px;
    width: 5rem;
    display: block;
    margin-bottom: 0.5rem;
    background-color: #8438ff;
    -webkit-transition: .2s all ease-in;
}

.intro-about-me:hover:after {
    width: 7rem;
}

.img-autor {
    border-radius: 50% !important;
    filter: drop-shadow(2px 4px 6px black) !important;
    transition: 1s !important;
    border: 2px solid #6510f0 !important;
    box-shadow: 2px 7px #6510f0 !important;
}

.img-autor:hover {
    filter: drop-shadow(2px 4px 6px #000) !important;
    border: 2px solid #6510f0 !important;
    box-shadow: 10px 7px #6510f0 !important;

}

.social a{
    margin-top: 1.5vh;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px #ffffff1a;
    transition: all 0.3s;
    color: #8438ff;
}

.social a:hover{
    filter: drop-shadow(2px 4px 6px #000);
    background-color: #ffffffbf;
}

.linkedin{
    color: #0072b1;
}

.instagram{
    color: #5B51D8;
}

.email {
    color: #c8232c;
}

.github {
    color: #010409;
}

/* ABOUT */

#about {
  margin-top: 2.2%;
  background-color: #141414;
  height: 80vh;
  display: flex;
  align-items: center;
}

#career .btn-outline-primary ,#about .btn-outline-primary {
  color: #fff !important;
  background-color: #6510f0;
  border: 1px solid #6510f0 !important;
  width: 80%;
}

#career .btn-outline-primary:hover ,#about .btn-outline-primary:hover {
  color: #000 !important;
  background-color: #c5c4c4 !important;
  border: 1px solid #c5c4c4 !important;
  filter: drop-shadow(2px 4px 6px #000);
  width: 80%;
}

.fixed-top {
  top: -40px !important;
  transform: translateY(40px) !important;
  transition: transform .3s !important;
  background: rgba(19, 16, 16, 0.521) !important;
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.767);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

/* CERTIFICATE */

#certificate {
  height: auto;
}

.accordion-item {
  background-color: #282a2d !important;
  color: white !important;
}

#certificate {
  background-color: #141414;
}

#certificate i {
  color: #f64682;
}

.accordion-button {
  background-color: #141414 !important;
    color: white !important;
}

.accordion-button.collapsed {
  background-color: #282a2d;
    color: white;
}

.accordion-button:not(.collapsed)::after {
  filter: contrast(0);
}

.accordion-button::after {
  filter: contrast(0);
}

.accordion-item:first-of-type .accordion-button {
  
}

#panelsStayOpen-collapseTwo, #panelsStayOpen-collapseThree, #panelsStayOpen-collapseFour, #panelsStayOpen-collapseFive {
  background-color: #282a2d;
  color: white;
}

/* PARTNERS */

#partners {
  height: 50vh;
  display: flex;
  align-items: center;
}

#partners figure {
  -webkit-transition: .2s all ease-in;
  filter: drop-shadow(2px 4px 6px rgb(85, 85, 85));
}

#partners figure:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 4px 3px #b4b3b6);
}

#partners h2, #projects h2, #certificate h2{
  margin-bottom: 5vh;
}

/* FOOTER */ 

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1013;
  padding: 1vh;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.887);
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgb(0, 0, 0);
  background: #6510f0;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: drop-shadow(2px 2px 3px black);
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 13px;
  top: 12px;
  font-size: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #6510f0d4;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


footer .copyright {
    color: #b0b2b3;
}

/* TIMELINE */

.timeline-card {
  border-radius: 10px 10px 10px 10px;
}

.timeline-card:hover {
  filter: drop-shadow(2px 4px 6px grey);
}

time::after {
  content: '';
  margin-top: 1vh;
  height: 2px;
  width: 5rem;
  display: block;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  -webkit-transition: .2s all ease-in;
}

time:hover:after {
  width: 8rem;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 600px;
  padding: 15px;
  background: #6510f0;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #6510f0 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -640px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #6510f0;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #6510f0;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
  .img-autor img {
    max-width: 80% !important;
  }
}

@media screen and (min-width: 1366px) {
  .img-autor {
    max-width: 75% !important;
  }
  .custom-shape-divider-bottom-1706146770 {
    margin-bottom: -5px;
  }
  #certificate {
    height: auto;
  }
  #partners {
    height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  #logo-click {
    width: 85%;
  }

  #intro {
    padding-bottom: 5vh;
    height: auto;
  }

  #intro img{
    max-width: 100%;
    margin-top: 15%;
  }

  #about {
    padding: 1vh;
    margin-top: 2vh;
    height: auto;
  }

  #about article {
    text-align: justify !important;
  }

  #about img {
    max-width: 100%;
  }

  #about .btn-outline-primary {
    width: 100%;
  }

  .intro-about-me::after {
    margin: 0 auto;
    margin-top: 3%;
  }

  .intro-about-me:hover:after{
    width: 10rem;
  }

  #typed {
    display: block;
    height: 100px;
  }

  #career {
    padding: 1vh;
    padding-top: 5vh;
  }

  #partners {
    height: auto;
  }

  footer {
    text-align: center;
  }

  #return-to-top i{
    left: 0px;
  }

  .copyright {
    width: 70%;
  }

  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 95px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #6510f0 transparent transparent;
  }
  .custom-shape-divider-bottom-1706146770 {
    bottom: -250px !important;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* SVG SHAPES */

/* WAVE INTRO */

.custom-shape-divider-bottom-1706146770 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1706146770 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 69px;
}

.custom-shape-divider-bottom-1706146770 .shape-fill {
  fill: #141414;
}

/* WAVE CV */