html {
    scroll-behavior: smooth;
}

main {
    background: #282a2d;
    color: #fff;
}

#sobre {
    padding: 5vh;
    /* background-color: #2b2b2b !important; */
}

.img-autor {
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
    transition: 1s;
    border: 2px solid #6510f0;
    box-shadow: 2px 7px #6510f0;
}

.img-autor:hover {
    filter: drop-shadow(2px 4px 6px #000);
    border: 2px solid #6510f0;
    box-shadow: 10px 7px #888888;

}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e1013;
    padding: 1vh;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.887);
}

footer .copyright {
    color: #b0b2b3;
}

/* body::-webkit-scrollbar-thumb {
    background-color: rgb(101, 16, 240);
} */

body::-webkit-scrollbar {
    width: 4px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: #000;
  }
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #6510f0 ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }